*.gem
*.swp
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
logs/**

# YARD artifacts
.yardoc
_yardoc
doc/

# Mac artifacts
**.DS_Store

Gemfile.lock
